html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.fixed{
    position: fixed;
    top: 0;
    z-index: 30;
    background: #FFFFFF;
    width: 100%;
}
.header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100px;
    align-items: center;
}
input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
input:focus{
    outline: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.space{
    width: 40%;
}
.search-box{
    display: flex;
}
.search-text{
    width: 260px;
    height: 36px;
    border: 2px solid #3d85c6;
    padding-left: 10px;
    box-sizing: border-box;
}
.search-button{
    background: #3d85c6;
    width: 74px;
    height: 36px;
    border: none;
}
.nav-wrapper{
    background: #3d85c6;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px -2px  #000;
    z-index: 1000;
    position: relative;
}
.nav-cd{
    width: 1200px;
    margin: 0 auto;
    list-style: none;
}
.nav-cd>.nav-text{
    display: inline-block;
    margin-left: -5px;
    text-align: center;
}
.nav-cd>li>a{
    color: #ffffff;
    text-decoration: none;
    font-family: Arial;
    padding: 12px 36px;
}
#nav-text-active{
    background: #7abefc;
}
.nav-text-active{
    background: #7abefc;
}
.up-menu{
    position: relative;
}
.down-menu{
    list-style: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
}
.down-menu>li{
    text-align: center;
    padding: 12px 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
}
.down-menu>li>a{
    color: #ffffff;
    text-decoration: none;
}
.down-menu>li:last-child{
    margin-top: 2px;
}
.body{
	margin-top: 140px;
}
.body-bg{
    width: 100%;
    height: 290px;
    background: url("../img/contact-bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.about-content{
    width: 1200px;
    margin: 0 auto;
    height: 1000px;
}
.content-nav{
    margin-top: 20px;
    height: 20px;
}
.content-nav>li{
    display: inline-block;
}
.content-nav>li>a:hover{
    text-decoration: none;
}
.glyphicon-home{
    color: #999999;
    font-size: 11px;
    line-height: 20px;
}
.content-nav-home>a{
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}
.content-nav-Symbol{
    color: #999999;
}
.about-content-body{
    margin-top: 20px;
}
.about-content-body{
    display: flex;
}
.about-content-body-left{
    width: 220px;
}
.about-content-body-right{
    position: relative;
    padding-left: 48px;
    box-sizing: border-box;
    width: 980px;
}
.about-content-body-left-nav{
    width: 220px;
    height: 72px;
    background: url("../img/body-nav.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 5px 5px 0 0;
}
.about-content-body-left-nav>a{
    font-size: 24px;
    font-family: Arial;
    color: #ffffff;
    line-height: 72px;
}
.about-content-body-left-nav-border{
    width: 100%;
    height: 5px;
    background: #7abefc;
}
.about-content-body-left-nav-Submenu{
    width: 100%;
    height: 50px;
    font-family: Arial;
    line-height: 50px;
}
.about-content-body-left-nav-Submenu-active{
    background: #3d85c6;
}
.about-content-body-left-nav-Submenu-active>a{
    color: #ffffff;
}
.about-content-body-right-nav{
    display: flex;
    align-items: center;
}
.about-content-body-right-border-one{
    width: 4px;
    height: 30px;
    background: #3d85c6;
}
.about-content-body-right-text{
    padding: 0 8px;
    color: #3d85c6;
    font-size: 20px;
    font-family: Arial;
}
.about-content-body-right-border-two{
    width: 810px;
    height: 1px;
    background: #dcdcdc;
}
.contact-title{
    font-size: 24px;
    font-family: Arial;
    color: #3d85c6;
    margin-left: 14px;
    margin-top: 30px;
}
.contact-information-wrapper{
    margin-left: 14px;
    font-size: 16px;
    margin-top: 10px;
    font-family: Arial;
    position: relative;
    display: flex;
    align-items: center;
}
.contact-body-information{
    line-height: 200%;
}
.contact-code{
    width: 108px;
    height: 108px;
    background: url("../img/contact-code.jpg") no-repeat;
    background-size:100% 100% ;
    position: absolute;
    right: 12px;
}
#container{
    width: 912px;
    height: 260px;
    margin-left: 14px;
    margin-top: 30px;
}
.anchorBL{
    display:none;
}
.online-wrapper{
    margin-top: 40px;
    margin-left: 14px;
}
.online-title{
    display: flex;
    align-items: center;
}
.online-title-text{
    font-size: 20px;
    font-family: Arial;
    color: #3d85c6;
    margin-left: 10px;
    width: 160px;
}
.online-title-border{
    width: 706px;
    height: 1px;
    background: #dcdcdc;
}
.form-box{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.form-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
label{
    font-size: 16px;
    font-family: Arial;
    color: #3d85c6;
    font-weight: normal;
}
#user-tel,#user-e-mail,#user-Name{
    width: 200px;
    height: 40px;
    border: 1px #c9c9c9 solid;
    border-radius: 5px;
    margin-left: 10px;
}
.user-online-wrapper{
    margin-top: 30px;
    width: 906px;
    margin-left: 18px;

}
#user-online{
    width: 810px;
    height: 126px;
    border: 1px #c9c9c9 solid;
    border-radius: 5px;
    margin-left: 10px;

}
#user-online-title{
    vertical-align: top;
}
.form-btn-box{
    width: 240px;
    margin: 50px auto;
    display: flex;
}
.form-btn-box>button{
    width: 100px;
    height: 36px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
}
.submit{
    background:#3d85c6;
    color: #ffffff;
    margin-right: 10px;
}
.reset{
    background: #dcdcdc;
    margin-left: 10px;
}
.footer{
    width: 100%;
    background: #333333;
    height: 220px;
}
.footer-content{
    width: 1200px;
    margin: 0 auto;
    height: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone-logo{
    width: 96px;
    height: 96px;
    background: url("../img/phone.png") no-repeat;
    background-size: 100% 100%;
}
.footer-content-left{
    display: flex;
    align-items: center;
    color: #e5e5e5;
    font-family: Arial;
    height: 182px;
    margin-left: 72px;
    font-size: 18px;
}
.contact-information{
    margin-left: 44px;
    line-height: 180%;
}
.tel-num{
    font-size: 32px;
}
.code {
    width: 106px;
    height: 106px;
    background: url("../img/cade.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 6px;
    margin-right: 72px;
}
.Copyright-border{
    width: 100%;
    height: 1px;
    background: #5c5c5c;
}
.Copyright{
    width: 1200px;
    margin: 7px auto;
    color: #ffffff;
    position: relative;
}
.Copyright-Newedge{
    position: absolute;
    right: 0;
}
.Copyright-Newedge>a{
    color: #ffffff;
}
.more-active:hover{
    background: #3d85c6;
}
.more-active:hover a{
    color: #ffffff;
}
